<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="../public/stylesheets/deleteUser.css">
  <link rel="icon" type="image/x-icon" href="../public/img/SDG-Wheel.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apagar Usuário</title>
</head>
<body>
    <div class="containerUser" id="dataUser">
        <h1>DELETAR USUÀRIO</h1>
        <input type="number" id="idUser" placeholder="ID" disabled>
        <input type="text" id="name" placeholder="Nome" disabled>
        <input type="text" id="email" placeholder="Email" disabled>
        <input type="text" id="cpf" placeholder="CPF" disabled>
        <input type="text" id="password" placeholder="Senha" disabled>
        <input type="text" id="office" placeholder="Cargo" disabled>
        <input type="text" id="company" placeholder="Empresa" disabled>
        <button id="btnDeleteUser">Deletar Usuário</button>
    </div>
    
    <script src="../JavaScript/deleteUser.js"></script>
</body>
</html>