<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/stylesheets/inserirProjeto.css">
  <link rel="stylesheet" href="../public/stylesheets/index.css">
  <link rel="icon" type="image/x-icon" href="../public/img/SDG-Wheel.png">
  <title>InserirProjeto</title>
</head>

<body>
  <div id="header"></div>
  <div class="projeto-container">
    <div class="projeto-form-container">
      <form class="form-projeto">
        <input type="text" name="nomeProjeto" id="nomeProjeto" placeholder="Nome do Projeto">
        <input type="text" class="select1" id="estadoProjeto" value="RS" disabled>
        <select class="select2" name="cidadeProjeto" id="cidadeProjeto"></select>
        <textarea name="descricaoProjeto" id="descricaoProjeto" cols="30" rows="10"
          placeholder="Descrição do Projeto"></textarea>
        <input type="text" name="objetivoProjeto" id="objetivoProjeto" placeholder="Objetivo do Projeto">
        <input type="number" name="id" id="CPF" placeholder="Coloque seu ID" disabled>
        <input type="file" id="photo" multiple accept="image/*, video/*" />
        <div id="opcaoOds" class="opcaoOds">
          <h3>ODS</h3>
          <div class="div1">
            <label class="cyberpunk-checkbox-label">
              <input class="cyberpunk-checkbox" type="checkbox" name="" value="1">
              ODS 01</label>
            <label class="cyberpunk-checkbox-label">
              <input class="cyberpunk-checkbox" type="checkbox" name="" value="2">
              ODS 02</label>
            <label class="cyberpunk-checkbox-label">
              <input class="cyberpunk-checkbox" type="checkbox" name="" value="3">
              ODS 03</label>
            <label class="cyberpunk-checkbox-label">
              <input class="cyberpunk-checkbox" type="checkbox" name="" value="4">
              ODS 04</label>
            <label class="cyberpunk-checkbox-label">
              <input class="cyberpunk-checkbox" type="checkbox" name="" value="5">
              ODS 05</label>
            <label class="cyberpunk-checkbox-label">
              <input class="cyberpunk-checkbox" type="checkbox" name="" value="6">
              ODS 06</label>
            <label class="cyberpunk-checkbox-label">
              <input class="cyberpunk-checkbox" type="checkbox" name="" value="7">
              ODS 07</label>
            <label class="cyberpunk-checkbox-label">
              <input class="cyberpunk-checkbox" type="checkbox" name="" value="8">
              ODS 08</label>
            <label class="cyberpunk-checkbox-label">
              <input class="cyberpunk-checkbox" type="checkbox" name="" value="9">
              ODS 09</label>
            <label class="cyberpunk-checkbox-label">
              <input class="cyberpunk-checkbox" type="checkbox" name="" value="10">
              ODS 10</label>
            <label class="cyberpunk-checkbox-label">
              <input class="cyberpunk-checkbox" type="checkbox" name="" value="11">
              ODS 11</label>
            <label class="cyberpunk-checkbox-label">
              <input class="cyberpunk-checkbox" type="checkbox" name="" value="12">
              ODS 12</label>
            <label class="cyberpunk-checkbox-label">
              <input class="cyberpunk-checkbox" type="checkbox" name="" value="13">
              ODS 13</label>
            <label class="cyberpunk-checkbox-label">
              <input class="cyberpunk-checkbox" type="checkbox" name="" value="14">
              ODS 14</label>
            <label class="cyberpunk-checkbox-label">
              <input class="cyberpunk-checkbox" type="checkbox" name="" value="15">
              ODS 15</label>
            <label class="cyberpunk-checkbox-label">
              <input class="cyberpunk-checkbox" type="checkbox" name="" value="16">
              ODS 16</label>
            <label class="cyberpunk-checkbox-label">
              <input class="cyberpunk-checkbox" type="checkbox" name="" value="17">
              ODS 17</label>
          </div>   
          </div>       
            <h3>Patrocinadores </h3>
            <div id="opcaoPartiners" class="opcaoPartiners">
            <label class="cyberpunk-checkbox-label">
              <input class="cyberpunk-checkbox" type="checkbox" name="opcaoPatrocinador[]" value="1">
              ONU</label>
            <label class="cyberpunk-checkbox-label">
              <input class="cyberpunk-checkbox" type="checkbox" name="opcaoPatrocinador[]" value="2">
              SESC</label>
            <label class="cyberpunk-checkbox-label">
              <input class="cyberpunk-checkbox" type="checkbox" name="opcaoPatrocinador[]" value="3">
              SENAC</label>
          </div>
          
          <button class="btnEnviar" id="btnEnviar">Enviar</button>
          <progress id="progressBar" class="progressBar" max="100" value="0"></progress>

      </form>
    </div>
  </div>
  <script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-storage.js"></script>
  <script src="../JavaScript/inserirProjeto.js"></script>
</body>
</html>