<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ODS</title>
    <script type="text/javascript" src="../JavaScript/app.js"></script>
    <link rel="stylesheet" href="../public/stylesheets/ods.css">
    <link rel="icon" type="image/x-icon" href="../public/img/SDG-Wheel.png">
</head>

<body>
    <header id="header"></header>
    <h1 class="titulo">Objetivos de Desenvolvimento Sustentável (ODS)</h1>
    <div class="text-container">
        <p>Os Objetivos de Desenvolvimento Sustentável (ODS) são uma série de 17 metas estabelecidas pela Organização
            das Nações Unidas (ONU) para erradicar a pobreza, proteger o planeta e garantir prosperidade para todos. Os
            ODS foram adotados em 2015 como parte da Agenda 2030 para o Desenvolvimento Sustentável, e visam orientar os
            esforços de países, organizações e indivíduos em direção a um mundo mais justo, pacífico e sustentável. As
            metas incluem temas como erradicação da pobreza, fome zero, saúde e bem-estar, educação de qualidade,
            igualdade de gênero, água limpa e saneamento, energia limpa e acessível, trabalho decente e crescimento
            econômico, indústria, inovação e infraestrutura, redução das desigualdades, cidades e comunidades
            sustentáveis, consumo e produção responsáveis, ação climática, vida na água e vida terrestre, paz, justiça e
            instituições eficazes, e parcerias para alcançar os objetivos.</p>
    </div>
    <div id="totalOds"></div>
    <div class="ods-container">
        <div class="ods-row">
            <button name="btn" class="btnOds" value="1"><img
                    src="https://brasil.un.org/profiles/undg_country/themes/custom/undg/images/SDGs/pt-br/SDG-1.svg"
                    class="zoom-image"></button>
            <button name="btn" class="btnOds" value="2"><img
                    src="https://brasil.un.org/profiles/undg_country/themes/custom/undg/images/SDGs/pt-br/SDG-2.svg"
                    class="zoom-image"></button>
            <button name="btn" class="btnOds" value="3"><img
                    src="https://brasil.un.org/profiles/undg_country/themes/custom/undg/images/SDGs/pt-br/SDG-3.svg"
                    class="zoom-image"></button>
            <button name="btn" class="btnOds" value="4"><img
                    src="https://brasil.un.org/profiles/undg_country/themes/custom/undg/images/SDGs/pt-br/SDG-4.svg"
                    class="zoom-image"></button>
            <button name="btn" class="btnOds" value="5"><img
                    src="https://brasil.un.org/profiles/undg_country/themes/custom/undg/images/SDGs/pt-br/SDG-5.svg"
                    class="zoom-image"></button>
            <button name="btn" class="btnOds" value="6"><img
                    src="https://brasil.un.org/profiles/undg_country/themes/custom/undg/images/SDGs/pt-br/SDG-6.svg"
                    class="zoom-image"></button>
        </div>
        <div class="ods-row">
            <button name="btn" class="btnOds" value="7"><img
                    src="https://brasil.un.org/profiles/undg_country/themes/custom/undg/images/SDGs/pt-br/SDG-7.svg"
                    class="zoom-image"></button>
            <button name="btn" class="btnOds" value="8"><img
                    src="https://brasil.un.org/profiles/undg_country/themes/custom/undg/images/SDGs/pt-br/SDG-8.svg"
                    class="zoom-image"></button>
            <button name="btn" class="btnOds" value="9"><img
                    src="https://brasil.un.org/profiles/undg_country/themes/custom/undg/images/SDGs/pt-br/SDG-9.svg"
                    class="zoom-image"></button>
            <button name="btn" class="btnOds" value="10"><img
                    src="https://brasil.un.org/profiles/undg_country/themes/custom/undg/images/SDGs/pt-br/SDG-10.svg"
                    class="zoom-image"></button>
            <button name="btn" class="btnOds" value="11"><img
                    src="https://brasil.un.org/profiles/undg_country/themes/custom/undg/images/SDGs/pt-br/SDG-11.svg"
                    class="zoom-image"></button>
            <button name="btn" class="btnOds" value="12"><img
                    src="https://brasil.un.org/profiles/undg_country/themes/custom/undg/images/SDGs/pt-br/SDG-12.svg"
                    class="zoom-image"></button>
        </div>
        <div class="ods-row">
            <button name="btn" class="btnOds" value="13"><img
                    src="https://brasil.un.org/profiles/undg_country/themes/custom/undg/images/SDGs/pt-br/SDG-13.svg"
                    class="zoom-image"></button>
            <button name="btn" class="btnOds" value="14"><img
                    src="https://brasil.un.org/profiles/undg_country/themes/custom/undg/images/SDGs/pt-br/SDG-14.svg"
                    class="zoom-image"></button>
            <button name="btn" class="btnOds" value="15"><img
                    src="https://brasil.un.org/profiles/undg_country/themes/custom/undg/images/SDGs/pt-br/SDG-15.svg"
                    class="zoom-image"></button>
            <button name="btn" class="btnOds" value="16"><img
                    src="https://brasil.un.org/profiles/undg_country/themes/custom/undg/images/SDGs/pt-br/SDG-16.svg"
                    class="zoom-image"></button>
            <button name="btn" class="btnOds" value="17"><img
                    src="https://brasil.un.org/profiles/undg_country/themes/custom/undg/images/SDGs/pt-br/SDG-17.svg"
                    class="zoom-image"></button>
            <button disabled name="btn" class="btnOds" value="18"><img src="../public/img/ods.png"></button>
        </div>
        <div id="demo">
        </div>
        <div class="causas">
            <h1>CAUSAS DE ATUAÇÃO</h1>
            <ul>
                <a href="./projetosCausa.html?causa=1">
                    <li>
                        <p>Sociedade</p>
                    </li>
                </a>
                <a href="./projetosCausa.html?causa=2">
                    <li>
                        <p>Economia</p>
                    </li>
                </a>
                <a href="./projetosCausa.html?causa=3">
                    <li>
                        <p>Educação</p>
                    </li>
                </a>
                <a href="./projetosCausa.html?causa=4">
                    <li>
                        <p>Natureza</p>
                    </li>
                </a>
            </ul>
        </div>
    </div>
    <footer id="footer"></footer>
</body>
<script src="../JavaScript/listarProjetos.js"></script>
</html>
