.div-whatsapp
{
   width: 100%;
    z-index: 1;
    position: fixed;
    margin-top: 35%;
    float: right;
}

.btn-wpp
{
    background-image:url('../img/btn-wpp.jpg');
    width: 10%;
    height: 7vh;
    float: right;
    border-style: none; 
    margin-right: -100px;
}
.a-btn
{
    text-decoration: none;
}