*{
    font-family: 'DM Sans', sans-serif;
}

.containerUser {
    text-align: center;
    max-width: 60rem;
    display: grid;
    gap: 20px;
    width: 25%;
    padding: 1%;
    border-radius: 10px;
    background-color: #F6F6F6;
    box-shadow: 1.5px 1.5px 5px;
    margin: 2% auto;
}
.containerUser input, select {
    margin: 2% 0;
    padding: 2%;
    border-radius: 10px;
    border: 0.3px;
    border-style: solid;
    font-size: 2.3vh
}
.containerUser button {
    width: 100%;
    padding: 10px;
    margin-top: 4%;
    border: none;
    border-radius: 20px;
    background-color: #1B98E0;
    color: #fff;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    font-size: 2.5vh;
}
.containerUser h1 {
    font-size: 2.5vh;
}

@media screen and (max-width: 767px){
    .containerUser {
        width: 97%;
    }
}